<h2>Your favorite movies</h2>
<ul>
<!-- We use #each to iterate through our array of results similar to forEach in vanilla JS -->
{{#each favorites as |favorite|}}
  <li><a href="/s/{{favorite.imdbID}}">{{favorite.title}}</a></li>
{{/each}}
</ul>
