<!DOCTYPE html>
<html>
  <head>
    <title>OMDB Search</title>
  </head>
  <body>
    <h1><a href="/">OMDB Search</a></h1>
    {{{body}}}
    <p><a href="/favorites">View Favorites</a><p>
  </body>
</html>
